.aboutme {
  margin-top: var(--size-xl);
}
.topsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-md);
}

.topsection > hr {
  width: 100%;
  border-radius: 30px;
  gap: var(--size-sm);
  color: var(--clr-light);
}

.aboutsection {
  margin: 5rem 0rem;
}

.aboutsection__heading {
  font-size: var(--size-xl);
  text-align: center;
  font-weight: 600;
  padding-bottom: var(--size-sm);
}

.mouseover {
  width: 130px;
  height: 130px;
}

.aboutdesc {
  margin: 0 auto;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-size: var(--size-normal);
  text-align: center;
}

.skillsection {
  display: flex;
  align-items: space-between;
}

.skills-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 20px;
  flex-basis: 70%;
}

.skillsectionimg {
  width: 600px;
  height: 600px;
}

.skill-item {
  padding: var(--size-md);

  border-radius: var(--size-sm);
  border: 1px solid var(--clr-light);
}

.skill-item > h2 {
  font-size: var(--size-md);
  font-weight: 500;
  color: var(--clr-light);
}

.skill-item > p {
  font-size: var(--size-sm);
  font-weight: 200;
  padding-top: var(--size-sm);
  line-height: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: var(--clr-light);
}

.skill-item > li {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--clr-light);
  padding-top: var(--size-sm);
  line-height: 1.7rem;
}

/* for desktop first *

/* for 2xl   */
@media (max-width: 1536px) {
  .aboutsection__heading {
    font-size: var(--size-lg);
  }

  .aboutdesc {
    margin: 0 auto;
    width: 80%;
  }

  .skill-item > p {
    font-size: 0.9rem;
    line-height: var(--size-normal);
  }

  .skill-item > li {
    font-size: var(--size-sm);
  }
  .skillsectionimg {
    width: 500px;
    height: 500px;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .aboutsection__heading {
    font-size: var(--size-lg);
  }

  .aboutdesc {
    text-align: center;
    width: 100%;
  }

  .skillsectionimg {
    width: 350px;
    height: 400px;
  }

  .skill-item {
    padding: var(--size-md) 0.8rem;
  }

  .skill-item > p {
    font-size: 0.81rem;
    line-height: var(--size-normal);
  }

  .skill-item > li {
    font-size: 0.8rem;
  }
}

/* for large */
@media (max-width: 1024px) {
  .aboutsection {
    margin: 0;
  }

  .skills-container {
    flex-basis: 100%;
  }
  .skillsection {
    flex-direction: column;
    align-items: center;
  }

  .aboutsection__heading {
    margin-top: var(--size-md);
  }

  .mouseover {
    width: 60px;
    height: 60px;
  }

  .skillsectionimg {
    width: 500px;
  }

  .skill-item {
    padding: var(--size-md) var(--size-sm);
  }

  .skill-item > p {
    font-size: var(--size-sm);
    line-height: 1.5rem;
  }

  .skill-item > li {
    font-size: var(--size-sm);
  }
}

/* for medium */
@media (max-width: 768px) {
  .skill-item > li {
    font-size: 0.8rem;
  }

  .aboutdesc {
    font-size: 1.2rem;
    line-height: 0.8rem;
  }
}
/* for small */
@media (max-width: 640px) {
  .skills-container {
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: var(--size-md);
  }

  .skill-item > li {
    font-size: 1.2rem;
  }

  .skill-item {
    padding: var(--size-normal);
  }
}

/* for extra small */
@media (max-width: 400px) {
  .aboutsection__heading {
    font-size: var(--size-md);
  }
  .aboutdesc {
    font-size: var(--size-sm);
  }

  .skill-item > li {
    font-size: 0.8rem;
  }
}
