header {
  margin-top: var(--size-md);
  background: #0b0b17ce;
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--size-md);
}

.header__links {
  text-decoration: none;
  color: var(--clr-light);
  font-size: 1.5rem;
}

.headericons {
  width: var(--size-md);
  color: var(--clr-light);
  margin-bottom: 0.2rem;
}

.fa-brands {
  font-size: var(--size-md);
  cursor: pointer;
  margin-right: 0.6rem;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--size-md);
}

.resume__heading {
  font-size: 1.5rem;
}

.header__hr {
  height: var(--size-md);
}

.logo > h2 {
  color: var(--clr-yellow);
  text-transform: uppercase;
  font-size: var(--size-md);
  cursor: pointer;
}

.navicon {
  display: none;
}

/* for large */
@media (max-width: 1024px) {
  .header__links {
    font-size: 1.2rem;
  }

  .header__hr {
    display: none;
  }

  .resume__heading {
    font: 1rem;
  }

  .social {
    display: none;
  }
}

/* for medium */
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .resume__heading {
    display: none;
  }

  .nav {
    display: none;
  }

  .navicon {
    display: block;
    width: 2.3rem;
    color: white;
    margin-right: var(--size-sm);
  }

  .logo > h2 {
    padding-left: var(--size-sm);
  }
}

/* for extra small */
@media (max-width: 400px) {
  header {
    margin-top: 0;
    padding: 1rem;
    border-radius: 0px;
  }
}
