@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  margin-top: var(--size-md);
  border: 0.5px solid var(--clr-light);
  backdrop-filter: blur(20px);
  padding: var(--size-sm);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--size-normal);
}

.header__links {
  text-decoration: none;
  color: var(--clr-light);
  font-size: var(--size-normal);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--clr-light);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--clr-grey);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.fa-brands {
  font-size: var(--size-md);
  cursor: pointer;
  margin-right: 0.6rem;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--size-normal);
}

.resume__heading {
  font-size: var(--size-normal);
}

.header__hr {
  height: var(--size-normal);
}

.logo > h2 {
  color: var(--clr-yellow);
  text-transform: uppercase;
  font-size: var(--size-md);
  cursor: pointer;
}

.navicon {
  display: none;
}

.mobilenav {
  display: none;
}

@media (max-width: 1280px) {
  .nav {
    gap: var(--size-sm);
  }

  .links {
    gap: var(--size-sm);
  }
}

/* for large */
@media (max-width: 1024px) {
  .nav {
    display: none;
  }

  .resume__heading {
    font-size: var(--size-normal);
  }
}

/* for medium */
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .resume__heading {
    display: none;
  }

  .navicon {
    display: block;
    width: 2.3rem;
    color: var(--clr-light);
    margin-right: var(--size-sm);
  }

  .logo > h2 {
    padding-left: var(--size-sm);
  }

  .mobilenav {
    display: none;
    width: 400px;
    background-color: var(--clr-light);
    height: 400px;
    z-index: 2;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 4rem;
    animation: fade-in-down 1s linear;
  }

  .mobiblenav__links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 1.5rem;
    color: var(--clr-black);
  }

  .mobilenav__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-top: 1rem;
  }

  .sunicon {
    width: 3rem;
    padding-top: 1rem;
    color: var(--clr-black);
  }

  .mobile__nav__link {
    font-size: 1.5rem;
    color: var(--clr-black);
    padding-top: 0.7rem;
    margin-left: 0 auto;
  }

  .mobilenav__hr {
    margin: 1rem 0rem;
    width: 90%;
    margin-left: auto;
    height: 2px;
    border: 1px solid var(--clr-grey);
  }
}

/* for extra small */
@media (max-width: 400px) {
  header {
    padding: var(--size-sm);
    border-radius: 0px;
    border: none;
    background-color: var(--clr-light);
    margin-top: 0;
  }
  .logo > h2 {
    color: var(--clr-black);
  }

  .navicon {
    color: var(--clr-black);
  }

  .mobilenav {
    display: none;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 0px;
    margin-left: 0;
    margin-right: 0;
  }
}
