.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 20rem;
  padding-bottom: var(--size-sm);
}

.resume__heading {
  color: var(--clr-light);
}

.firstsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 150px;
}

.hero__heading {
  font-size: 3.8rem;
  font-weight: 600;
}

.profileimg {
  width: 300px;
  margin-bottom: 15rem;
}

.hero__heading > span {
  color: var(--clr-yellow);
  font-weight: 800;
  font-size: 5.1rem;
}

.buttons {
  padding-top: var(--size-lg);
  display: flex;
  gap: var(--size-sm);
}

.mobileheading {
  display: none;
}

.herodesc {
  padding-top: var(--size-sm);
  width: 75%;
  font-size: var(--size-normal);
  text-align: center;
}

/* for desktop first *

/* for 2xl   */

/* for xl   */
@media (max-width: 1280px) {
  .firstsection {
    gap: var(--size-sm);
  }

  .hero__heading {
    font-size: 2.4rem;
  }

  .hero__heading > span {
    font-size: var(--size-xl);
  }

  .herodesc {
    width: 94%;
  }
}

/* for large */
@media (max-width: 1024px) {
  .hero__heading {
    font-size: var(--size-normal);
  }

  .hero__heading > span {
    font-size: 3.2rem;
  }

  .herodesc {
    width: 100%;
  }
}

/* for medium */
@media (max-width: 768px) {
  .hero__heading {
    font-size: 1.3rem;
  }

  .hero__heading > span {
    font-size: 2.5rem;
  }

  .herodesc {
    font-size: 1.2rem;
  }
}

/* for small */
@media (max-width: 640px) {
  .hero__heading {
    display: none;
  }
  .mobileheading {
    display: block;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
  }

  .mobileheading > span {
    color: var(--clr-yellow);
  }

  .profileimg {
    width: 200px;
    margin-bottom: var(--size-sm);
  }

  .hero {
    padding: var(--size-xl);
  }

  .full-background {
    background-image: none;
  }

  .herodesc {
    font-size: var(--size-sm);
  }
}

/* for extra small */
@media (max-width: 400px) {
  .mobileheading {
    font-size: 1.4rem;
  }

  .buttons {
    padding-top: var(--size-lg);
    display: flex;
    gap: 0.5rem;
  }
}
