@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.projects {
  padding: 5rem 0rem;
  margin-top: 6rem;
}

.projects__container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-xl);
}

.singleproject {
  width: 400px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  border-radius: 20px;
  border: 1px solid var(--clr-light);
}

.project__img {
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.rr {
  background-image: url("/rr.webp");
}

.dcm {
  background-image: url("/dcm.webp");
}

.icodethis {
  background-image: url("/icodethis.webp");
}

.singleproject:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project__details {
  padding: var(--size-md);
  text-align: center;
}

.project__details > h2 {
  font-size: var(--size-md);
  font-weight: 500;
  margin-bottom: var(--size-sm);
  color: var(--clr-light);
}

.project__details > p {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: var(--clr-light);
}

.animation_top {
  animation: fade-in-left 3s ease;
}

/* for desktop first *

/* for 2xl   */
@media (max-width: 1536px) {
  .projects__container {
    gap: var(--size-lg);
  }

  .singleproject {
    width: 350px;
  }

  .project__details > p {
    font-size: var(--size-sm);
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .singleproject {
    width: 300px;
  }

  .project__img {
    height: 200px;
  }

  .project__details {
    padding: var(--size-normal);
  }
}

/* for large */
@media (max-width: 1024px) {
  .projects__container {
    margin-top: var(--size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-md);
  }
}

/* for medium */
@media (max-width: 768px) {
  .projects__container {
    gap: var(--size-sm);
  }
}

/* for small */
@media (max-width: 640px) {
  .projects__container {
    margin-top: var(--size-md);
    gap: var(--size-lg);
  }

  .singleproject {
    width: 400px;
  }

  .project__img {
    height: 300px;
  }
}

/* for extra small */
@media (max-width: 400px) {
  .projects {
    padding: var(--size-lg) 0rem;
    margin-top: 0rem;
  }

  .singleproject {
    width: 100%;
  }
  .project__img {
    height: 250px;
  }
}
