/* for desktop first *

/* for 2xl   */
/* @media (max-width: 1536px) {
} */

/* for xl   */
/* @media (max-width: 1280px) {
} */

/* for large */
/* @media (max-width: 1024px) {
} */

/* for medium */
/* @media (max-width: 768px) {
} */

/* for small */
/* @media (max-width: 640px) {
} */

/* for extra small */
/* @media (max-width: 400px) {
} */

:root {
  --clr-blue: #03030f;
  --clr-light: #f1f5f9;
  --clr-yellow: #cbff04;
  --clr-grey: #737374;
  --size-xl: 4rem;
  --size-lg: 3rem;
  --size-md: 2rem;
  --size-sm: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.full-background {
  width: 100%;
}

.btn {
  background-color: var(--clr-yellow);
  border-radius: 30px;
  padding: var(--size-sm) var(--size-lg);
  color: var(--clr-blue);
  font-size: 1.5rem;
  border: 1px solid var(--clr-yellow);
  transition: all 0.4s linear;
}

.btn:hover {
  transform: translateY(-10px);
}

.transparent {
  background-color: transparent;
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}

.desc {
  color: var(--clr-grey);
  transition: all 0.5s linear;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  line-height: 2.3rem;
}

.desc:hover {
  color: var(--clr-light);
  transform: translateY(3px);
}

body {
  background-color: var(--clr-blue);
  color: var(--clr-light);
  font-family: "Newsreader", serif;
}

/* for desktop first */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* for large */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* for medium */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* for small */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .desc {
    line-height: var(--size-md);
  }
}

/* for extra small */
@media (max-width: 400px) {
  .container {
    width: 100%;
    padding-inline: 1.3rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .desc {
    line-height: 1.6rem;
  }
}
